*
!.gitignore
!alacritty
!alacritty/**
!bash
!bash/**
!bspwm
!bspwm/**
!dunst
!dunst/**
!gtk-3.0
!gtk-3.0/**
!picom
!picom/**
!polybar
!polybar/**
!README.md
!saka_key
!saka_key/**
!rofi
!rofi/**
!script
!script/**
!sxhkd
!sxhkd/**
!tint2
!tint2/**
!desktop.png